/* Typographies : */

@font-face{
    font-family: "Bukhari Script";
    src: url('../font/BukhariScript.ttf');
}
@font-face{
    font-family: "Pistara";
    src: url('../font/Pistara.otf');
}
@font-face{
    font-family: "Biko";
    src: url('../font/Biko_Regular.otf');
}

/*                                                                                                          UTILE POUR APP FINALE */
/*  DEUX BOUTONS LARGES POUR DEPENSES ET ENTREES */
.btngroup input{
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*                                                                                  MAYBE USELESS  */
/* Redimension et ajustement de l'icone "retour page précédente" */
.icoreturn {
    width: 32px;
}
                                                                                                                /* GENERAL SITE */
/*couleur de fond de notre site */
/* Changer le pointeur des boutons */
input[type="button"], input[type="submit"], input[type="reset"]{
    cursor: pointer;
}
/* Changer la taille et l'apparence des boutons */
form input[type="submit"], form input[type="button"]{
    width: 49%;
    height: 50px;
    border: 1px solid white;
    background-color : rgba(255, 255, 255, 0.7);
    padding : 5px;
    font-size : 26px;
    font-weight: bolder;
    color : rgba(0,0,0,0.6);
    font-family: Pistara;
}
form input[type="submit"]:hover, form input[type="button"]:hover{
    background-color:rgba(255, 255, 255, 0.2);
}
                                                                                                                /* HEADER APP */
#headerAPP{
    display: flex;
    width : 100%;
    max-width: 100%;
    height : 10%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(255,255,255,1);
    font-family: Pistara;
}
.bankifyScript{
    /*max-height : 100%; */
    height : 100%;
    max-height: 100px;
    width: auto;
}
.logo{
    width : 10%;
}
.message_bienvenue{
    width : 30%;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}
.options_headerAPP{
    width : 30%;
    display: flex;
    height : 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    flex-wrap: wrap;
}
.options_headerAPP a{
    width : auto;
    text-decoration: none;
    color : black;
    border-bottom: 3px solid transparent;
    height : 100%;
    padding-top: 4.4%;
}
.options_headerAPP a:hover{
    border-bottom: 3px solid black;
    background : radial-gradient(circle at bottom left, #ffd11a, #F5701B, #FD3F4F, #C02382, #7855c3, #6666ff, #2E94F8, #39ac39);
    /*background: -webkit-linear-gradient(#eee, #333);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
    /* NAV APP + CONTENEUR NAV-CONTENU ONGLET */
html{
    background: #F7F4EE;
}
html, body{
    height : 100%;
    max-height: 100%;
}
#navPage{
    background: black;
    display: flex;
    width : 100%;
    max-height : 90%;
}
#navAPP{
    display : flex;
    margin : 0;
    background: rgba(255,255,255,0.05);
    color : white;
    font-size: 28px;
    font-family: Pistara;
    /*font-family: 'Copse', serif;*/

}
#navAPP ul{
    display : flex;
    flex-direction : column;
    list-style: none;
    margin: 0;
    padding: 0;
}
#navAPP li{
    display : flex;
    align-items: center;
    justify-content: center;
    /*Obligé de mettre un text-align pour Simuler budget...*/
    text-align: center;
    padding : 0px 20px 0px 20px;
    height : 100%;
}
#navAPP li:not(:last-child){
    border-bottom: 1px solid white;
}
                                                                                                                /* FOOTER */
/* J'ai mis une bordure pour voir le futur footer */
footer{
    width: 100%;
    display : flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*border-top : 4px solid black;*/
    align-items: center;
    background: white;
    font-family: Pistara;
    font-size: 20px;
    font-weight: bold;
}
.reseauxSociaux{
    display: flex;
    align-self: center;
    flex-direction: column;
    text-align: center;
}
.reseauxSociaux p, .contactIco p{
    margin-bottom: 2px;
}
.contactIco{
    display: flex;
    align-self: center;
    flex-direction: column;
    text-align: center;
}
.storeIco{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.logoBankify{
    display: flex;
    align-self: center;
    height : 10%;
    max-height: 100px;
    width : auto;
}
.logoFacebook, .logoTwitter, .logoInstagram, .logoContact{
    width : 80%;
    max-width : 40px;
}
.logoAppStore, .logoGooglePlay{
    width : auto;
    max-width : 100px;
}
.logoAppStore{
    margin-bottom: 8px;
}
                                                                                                        /* CONTENU PAGE ONGLET */
/* HEADER ONGLET */
#headerAPPonglet {
    width : 100%;
    height : 8%;
    position: relative;
    display: flex;
    color : black;
    background-color: rgba(255,255,255,0.5);
    justify-content: center;
    align-items: center;
}
.retour{
    position: absolute;
    left : 5px;
}
.contenu_onglet{
    height : auto;
}
/* Page à côté des onglets dans APP */
#pageOnglet{
    width : 100%;
    height : 90%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#bodyOnglet {
    width: 100%;
    height : 100%;
}
                                                                                                                /* PAGE BUDGET */
.backBudget{
    background-color : #F7F4EE;
}
#partieHaute{
    width : 100%;
    height : 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}
#partieBasse{
    display: flex;
    flex-direction: column;
    width: 100%;
    height : 70%;
    justify-content: center;
    align-items: center;
}
#partieHaute2{
    width : 100%;
    height : auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
}
.btn_app_budget{
    display: flex;
    width : 100%;
    min-width: 420px;
}
.btn_app_budget input, .btn_app_budget a{
    width : 100%;
    height: 40px;
    border : none;
    border-bottom: 1px solid #BFBCB6;
    background-color : rgba(255, 255, 255, 0.7);
    font-size : 26px;
    font-weight: bolder;
    color : rgba(0,0,0,0.8);
    font-family: Pistara;
}
.btn_app_budget input:hover, .btn_app_budget a:hover{
    background-color: rgba(0,0,0,1);
}
/* Sélecteur date */
#rubanProvisoire{
    width : 100%;
    min-width : 425px;
    position: relative;
    display: flex;
    font-size: 21px;
    justify-content: center;
    align-items: center;
    font-family: Pistara;
}
#rubanProvisoire input[type=submit]{
    width : 55px;
    height : 33px;
    font-size: 21px;
    padding : 0;
    margin-top : 20px;
    background: rgba(0,0,0,0.7);
    border : 1px solid black;
    color : white;
}

/* NEED RUBAN BUDGET GLOBAL RESPONSIVE */

#tableRubanBudget{
    width : 100%;
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: rgba(255,255,255,0.7);
}
.itemRubanBudget{
    flex : 1;
    width : auto;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    font-family: Pistara;
    font-size: 25px;
    /*border : 1px solid #BFBCB6;*/

}
.itemRubanBudget:not(:last-child){
    border-right : 10px solid #F7F4EE;
}
.itemRubanBudget span{
    font-family: 'Copse', serif;
}

/* Bouton glissière */
#btn-toggle{
    height : 25%;
    display: flex;
    justify-content: space-evenly;
    margin-top : 10px;
    margin-bottom : 15px;
    position:relative;
}
.button-toggle-wrap {
    text-align: center;
}
.my-text, .text-graph{
    margin-bottom : 0;
    font-size: 21px;
    font-family: Pistara;
}
.button-toggle {
    display: inline-block;
    background: #bbbbbb;
    border-radius: 3px;
    height: 20px;
    width: 50px;
    position: relative;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.22);
}
.button-toggle .handle {
    position: absolute;
    left: 1px;
    right: auto;
    height: 19px;
    width: 9px;
    background: #fff;
    border-radius: 3px;
    transition: all 0.4s cubic-bezier(0.33, 1.6, 0.66, 1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
}
.toggler {
    display: none;
}
.toggler:checked + .button-toggle {
    background: #009DAB;
}
.toggler:checked + .button-toggle .handle {
    left: 40px;
}

/* affichage budget par catégories */
#budgetCat{
    width : 100%;
    height : auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto auto auto;
}
.itemBudgetCat{
    width : 20%;
    min-height: fit-content;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
    border-radius : 10px;
    /*    haut droite bas gauche  */
    margin : 0 20px 40px 0;
    padding : 10px;
    font-family: 'Copse', Pistara;
}
.itemBudgetCat img{
    height : 60px;
    position : relative;
    bottom : 35px;
}
.itemBudgetCat .titreItem{
    color: white;
    font-size : 29px;
    font-weight: bold;
    position: relative;
    bottom : 25px;
    font-family: Pistara;
}
.itemBudgetCat p{
    font-family: 'Copse', serif;
    font-weight: bold;
    font-size : 22px;
    color: white;
}
.pourcentage{
    font-family: Arial;
    font-size : 20px;
    color: white;
    font-family: Pistara;
}
@media screen and (max-height : 800px) {
    #partieHaute{
        height : 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width : 1428px) {
    #partieHaute{
        height : 40%;
    }
    .itemBudgetCat{
        width : 40%;
        height : auto;
    }
}
@media screen and (max-width: 1050px) {
    #budgetCat{
        justify-content: center;
        width: 100%;
    }
    .itemBudgetCat{
        width : 90%;
        margin-right : 0;
        height : auto;
    }
}
/* Graphique */
#graph{
    display: flex;
    justify-content: center;
    align-items: center;
    width : 750px;
    margin : 120px 0 190px 0;
}

                                                                                                                    /* PAGE PROFIL */
.backProfil{
    background-image : url("../images/wallpaper/profil.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#pageProfil{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width : 100%;
    margin: auto;
}

.infosProfil{
    width : 50%;
    height : 40%;
    min-width : 483px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Pistara;
    font-size: 26px;
    border: 4px solid white;
    background-color : rgba(255, 255, 255, 0.7);
}
.infosProfil span{
    font-weight: bold;
}
.infosProfil h4{
    font-size: 32px;
    font-weight: bolder;
    position: absolute;
    top : -50px;
    border: 4px solid white;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color : rgba(255, 255, 255, 0.7);
    padding : 5px 5px 0 5px;
}
.options_profil{
    width : 30%;
    max-width : 315px;
    min-width : 245px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.option_profil input{
    width : 100%;
    height : 60px;
    margin-bottom: 10px;
    border: 1px solid white;
    background-color : rgba(255, 255, 255, 0.7);
    padding : 5px;
    font-size : 26px;
    font-weight: bolder;
    color : rgba(0,0,0,0.6);
    font-family: Pistara;
}
.option_profil input:hover{
    background-color:rgba(255, 255, 255, 0.2);
}
/* Media queries */
@media (max-width: 1171px){
    .infosProfil{
        width : 60%;
        max-width: 710px;
        min-width : 483px;
    }
    .options_profil{
        width : 30%;
        max-width : 315px;
        min-width : 245px;
    }
}

@media (max-width: 1018px){
    #pageProfil{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .infosProfil{
        width : 90%;
        margin-bottom: 3%;
        max-width: 710px;
        min-width : 483px;
    }
    .options_profil{
        width : 50%;
        max-width : 315px;
        min-width : 245px;
    }

}

                                                                                                            /* PAGE MODIFIER PROFIL */
/*#champs_obligatoires{
    margin-top : 10px;
    margin-left : 20%;
}*/
.backModifProfil{
    background-image : url("../images/wallpaper/modifprofil.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.formulaire2{
    width : 100%;
    height : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulaire2 form{
    height : 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 0;
    padding-top : 10px;
    padding-bottom : 10px;
}
/*.label_form{
    width : 40%;
    text-align: right;
}*/
.champ_form{
    font-family: Pistara;
    font-weight: bold;
    font-size: 24px;
    min-width: 401px;
}
.etoile{
    font-weight: bold;
    font-family: Arial;
}
/* style Envoyer - Annuler */
.bouton_form{
    width : 100%;
    max-width: 350px;
    margin-top : 8px;
    text-align: center;
}
/* STYLE DES INPUT TEXT, EMAIL, NUMBER et DATE */
/*
input[type=text], input[type=email], input[type=number], input[type=date], input[type=password]{
    width : auto;
    min-width : 350px;
    border: 1px solid #ccc;
    border-radius : 5px;
    padding : 5px;
}*/
/* STYLE DES INPUT TEXT, EMAIL, NUMBER et DATE AU FOCUS */
input[type=text]:focus, input[type=email]:focus, input[type=number]:focus, input[type=date]:focus, input[type=password]:focus{
    border: none;
}
/* Mettre le message d'erreur de chaque champ au même padding que leur champ */
.message_erreur{
    padding : 0 0 0 5px;
    font-weight: bold;
    width : auto;
    max-width : 350px;
    color : rgb(236, 74, 89);
}
/* Style des labels mais pas ceux de civilité (Civilite :, Mr,Mme) */
.labelprofil{
    padding: 5px 5px 5px 0;
}
/* Style du label Civilité : */
.labelciv2{
}
#champOK{
    color : rgba(0,204,199, 1);
    padding: 5px 5px 5px 5px;
}
#champKO{
    color: rgba(236, 74, 89, 1);
    padding: 5px 5px 5px 5px;
}
/* Les icones sur le formulaire mdp on besoin de plus de place à cause de l'icone afficher/masquer */
#champKO2{
    color: rgba(236, 74, 89, 1);
    padding: 5px 5px 5px 11px;
}
#champOK2{
    color : rgba(0,204,199, 1);
    padding: 5px 5px 5px 11px;
}
/* ADAPTATION DU FORMULAIRE SELON LES TAILLES D'ECRAN */
/* A partir d'une certaine taille, bootstrap fait basculer les input donc je redécale les label sur la gauche sinon ils restent tout à droite alors que le champ est en bas et ça ressemble à rien */
@media (max-width: 991px){
    .labelprofil{
        padding: 5px 5px 5px 0px;
        float: left;
    }
    .labelciv2{
        float: left;
    }
}
/* Quand l'écran devient vraiment petit je mets une taille auto aux input et j'enlève le * et le * Champs obligatoires sinon les étoiles s'affichent en bas et c'est vraiment moche */
@media (max-width: 406px){
    input[type=text], input[type=email], input[type=number], input[type=date], input[type=password]{
        width : auto;
        border: 1px solid #ccc;
        border-radius : 5px;
        padding : 5px;
    }
    .etoile, #champs_obligatoires{
        display : none;
    }
}

                                                                                                        /* PAGE MODIFIER MOT DE PASSE */
.formMDP{
    background-image : url("../images/wallpaper/mdp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.formulaire{
    width : 100%;
    height : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulaire form{
    height : 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/* input */
.inputForm{
    width : auto;
    min-width : 350px;
    height : 60px;
    border: 1px solid white;
    padding : 5px;
    background-color : rgba(255, 255, 255, 0.7);
}
.inputForm::placeholder{
    color : rgba(0,0,0,0.5);
    font-size : 24px;
    font-weight: bold;
    font-style: italic;
    font-family: Pistara;
}
/* label */
.hidden{
    display: none;
}
.unhide_mdp{
    padding: 5px 5px 5px 0px;
    width : 24px;
    position: relative;
    color : rgba(0,0,0,0.6);
    z-index: 2;
    margin-left: -45px;
    bottom : -3px;
}
.labelmdp{
    padding: 5px 5px 5px 0px;
    display:inline-block;
    float: right;
}
@media (max-width: 991px){
    .labelmdp{
        padding: 5px 5px 5px 0px;
        display:inline-block;
        float: left;
    }
}
/* Mesage erreur côté serveur + JS */
#error_datasrv, #error_datajs{
    background-color : rgba(236, 74, 89, 0.7);
    color : rgb(255,255,255);
    width : 100%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
/* Message de réussite d'update, ou création etc côté SERVEUR */
#success_datasrv{
    background-color: rgba(142,244,224, 0.7);
    color : white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width : 100%;
}
/* Design des infubulles des formulaires */
.fa-question-circle{
    color : black;
    padding-left : 5px;
    position : relative;
    cursor : pointer;
}
.fa-question-circle:hover::after{
    content : attr(data-info);
    position : absolute;
    left : 0px;
    top : 20px;
    min-width : 250px;
    border-radius : 10px;
    background-color : rgba(0, 0, 0, 0.7);
    padding : 10px;
    color : #fff;
    font-size : 16px;
    z-index : 1;
}
                                                                                                        /* BUDGET SOUS-CATEGORIES SORTIES */
#souscategories{
    width: 100%;
    height : 90%;
    min-height : 75%;
    display: flex;
}
#listingSousCat{
    width : 40%;
    height : auto;
    overflow: auto;
    min-width: 340px;
    font-family: Biko;
    font-size : 18px;

}
.rowSousCat{
    width : 100%;
    display: flex;
}
.rowSousCat img{
    height : 50px;
}
.dataRowSousCat:first-child{
    display: flex;
    flex : 1;
    align-items: center;
    border-bottom : 1px solid #EBEFF5;
    padding-top : 15px;
    padding-bottom: 15px;
    justify-content: center;
}
.dataRowSousCat:nth-child(0n+2){
    display: flex;
    flex : 3;
    justify-content: center;
    border-bottom : 1px solid #EBEFF5;
    align-items: center;
}
.dataRowSousCat:nth-child(0n+3){
    display: flex;
    flex : 1;
    justify-content: center;
    border-bottom : 1px solid #EBEFF5;
    align-items: center;
}

.dataRowSousCat:nth-child(0n+4){
    display: flex;
    flex : 1;
    justify-content: center;
    border-bottom : 1px solid #EBEFF5;
    align-items: center;
}
.rowSousCat .dataRowSousCat:nth-child(0n+3), .rowSousCat .dataRowSousCat:nth-child(0n+4){
    font-family: 'Copse', serif;
    font-weight: bold;
}
.headSousCat{
    width : 100%;
    background-color : #E1E5F1;
    color : #7991B3;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headSousCat .dataRowSousCat{
    border-bottom : none;
}
#graphSousCategories{
    width: 60%;
    border-left : 1px solid #EBEFF5;
    box-shadow:-8px 0 8px -10px black;
    padding-top : 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#graphSousCategories h1{
    font-family: 'Copse', serif;
    font-size: 48px;
    font-weight: bold;
}
#graphSousCategories p{
    font-family: Biko;
    font-size : 24px;
}

                                                                                                                /* PAGE OPERATIONS */
#operations{
    width: 100%;
    height : 90%;
    min-height : 75%;
    display: flex;
}
/* listing opérations */
#listingOperations{
    width : 40%;
    height : 100%;
    overflow: auto;
    min-width : 300px;
    font-family: Biko;
    font-size: 18px;
}
.itemOperations{
    width : 100%;
    display: flex;
    justify-content: center;
}
.itemOperations:hover{
   background-color : #D7D7D7;
    cursor: pointer;
}
.itemOperations.selected{
    background-color: #D7D7D7;
}
.operation{
    width : 95%;
    display: flex;
    border-bottom : 1px solid #EBEFF5;
    padding : 15px 10px 15px 10px;
}
.operation span img{
    height : 50px;
}
.dataOperation:first-child{
    display: flex;
    flex : 1;
    /*width : 50%;*/
    justify-content: center;
    align-items: center;
}
.dataOperation:nth-child(0n+2){
    display: flex;
    flex : 5;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    word-break: break-all;
    padding : 0 10px 0 10px;
}
.dataOperation:nth-child(0n+3){
    display: flex;
    flex : 1;
    justify-content: center;
    align-items: center;
    font-family: 'Copse', serif;
    font-weight: bold;

}

.dateItemOperations{
    width : 100%;
    background-color : #E1E5F1;
    color : #7991B3;
    text-align: center;
    font-size: 14px;
    padding-top : 5px;
    padding-bottom : 5px;
}
.nullOperations{
    width :100%;
    text-align: center;
}
/* détail operation */
#detailOperations{
    width: 60%;
    height : 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left : 1px solid #EBEFF5;
    box-shadow:-8px 0 8px -10px black;
    padding-top : 15px;
    overflow: auto;
    min-width : 650px;
    font-family: Biko;
    font-size: 20px;

}
.detailOp{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left : 15px;
    padding-right : 15px;
    flex-wrap: wrap;
}
.icoSousCat{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom : 15px;
}
.montantOp{
    width : 100%;
    display: flex;
    justify-content: center;
    font-family: 'Copse', serif;
    font-size: 48px;
    font-weight: bold;
}
.montantOp img{
    height : 32px;
    align-self: center;
    margin-left : 15px;
}
.nomOp {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.tiersOp{
    width : 100%;
    display: flex;
    justify-content: center;
    margin-bottom : 15px;
    color : #7991B3;
}
.dateCompteOp{
    width : 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom : 15px;
    flex-wrap: wrap;
}
.dateCompteOp div{
    display: flex;
    flex-direction: column;
}
.dateCompteOp div span:nth-child(2n+0){
    font-weight: bold;
}
.dateCompteOp div:nth-child(0n+1){
    width : 50%;
    text-align: right;
    padding-right : 10px;
    border-right : 1px solid #EBEFF5;
}
.dateCompteOp div:nth-child(0n+2){
    width : 50%;
    text-align: left;
    padding-left : 10px;
}
.infosupOp{
    width : 100%;
    display: flex;
    justify-content: center;
    margin-bottom : 15px;
    color : #6c757d;
    font-style: italic;
}
.catFreqMoyOp{
    width : 60%;
    display: flex;
    margin : auto;
    margin-bottom : 15px;
    margin-top : 15px;
    border-top : 1px solid #EBEFF5;
    padding-top : 25px;
}
.catFreqMoyOp div{
    width : 33.33333333%;
    text-align: center;
}
.catFreqMoyOp div p:nth-child(2n+0){
    font-weight: bold;
}
.editDeleteOp{
    width : 20%;
    margin : auto;
    display: flex;
    justify-content: space-around;
    margin-bottom : 15px;
    margin-top : 50px;
}
                                                                                                        /* PAGE EXPORT */
.backExport{
    background-image : url("../images/wallpaper/export3.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#pageExport{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width : 100%;
    height : 30%;
    /*background-color: rgba(255,255,255,0.5);*/
    background-color: rgba(0,0,0,0.6);
    color : white;
    font-family: Pistara;
    font-size: 30px;
}
#pageExport p{
    margin : 0;
}

                                                                                                            /* PAGE CONTACT */
.backContact{
    background-image : url("../images/wallpaper/contact.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#pageContact{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width : 100%;
    height : 30%;
    background-color: rgba(255,255,255,0.5);
    color : black;
    font-family: Pistara;
    font-size: 30px;
}
#pageContact p{
    margin : 0;
}
#formContact form{
    display: flex;
    flex-direction: column;
}